<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login failed</title>
</head>
<body>

<p>If you haven't register before, an account is created automatically, enter same login credential again, otherwise, check if you typed wrong password.</p>
<p>Click <a href="/login">here</a> to redirect manually or wait for 3 sec.</p>
<script>
    setTimeout(function() {
        window.location = "/login";
    }, 5000);
</script>

</body>
</html>
